---
import { getCollection } from "astro:content";
import Accordion from "../component/Accordion.astro";

import { Icon } from "astro-icon";

const items = await getCollection("faqs");

import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Accordion</title>
  </head>
  <body>
    <main>
      <Icon
        name="background-pattern-desktop"
        alt=""
        class="only-desktop absolute-top"
      />
      <Icon
        name="background-pattern-mobile"
        alt=""
        class="only-mobile absolute-top"
      />
      <div class="wrapper">
        <Accordion
          accordionItems={items.map((i) => i.data)}
          title="FAQs"
          isFirstExpanded={true}
          isOnlyOneExpandable={true}
        />
        <Accordion
          accordionItems={items.slice(1).map((i) => i.data)}
          title="Unique Title"
        />
      </div>
      <style>
        .wrapper {
          max-width: 650px;
          display: grid;
          gap: var(--space-xxl);
          align-items: start;
        }
      </style>
    </main>
  </body>
</html>
